.arrow-button .arrow {
    -fx-background-color: black;
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}
.list-view {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}
.list-cell {
    -fx-background-color: transparent;
}