.bar {
    -fx-background-color: rgb(51, 51, 51);
}
#game-memory .bar {
    -fx-background-color: rgb(204, 204, 204);
}
#game-memory-up .bar {
    -fx-background-color: rgb(51, 51, 51);
}
* .track {
    -fx-background-color: transparent;
}