* {
    -fx-label-smoothing-type: lcd;
    -fx-text-fill: rgba(18, 18, 18);
}
.root {
    -fx-font-smoothing-type: -fx-label-smoothing-type;
    -fx-text-fill: rgba(18, 18, 18);
    word-break:break-all;
    word-wrap:break-word;
}