* {
    -fx-label-smoothing-type: lcd;
    -fx-text-fill: rgba(18, 18, 18);
    -fx-wrap-text: true;
}

#noW {
    -fx-wrap-text: false;
}

.root {
    -fx-font-smoothing-type: -fx-label-smoothing-type;
    -fx-text-fill: rgba(18, 18, 18);
    -fx-wrap-text: true;
}