.titled-pane
{
-fx-skin: "javafx.scene.control.skin.TitledPaneSkin";
-fx-text-fill: rgb(0,0,0);
}
.titled-pane:focused
{
-fx-text-fill: white;
}
.titled-pane > .title
{
-fx-background-color: rgb(245, 80, 102);
}

.titled-pane:focused > .title
{
-fx-color: -fx-focus-color;
}

.titled-pane > .title > .arrow-button
{
-fx-background-color: null;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-padding: 0.0em 0.25em 0.0em 0.0em;
}

.titled-pane > .title > .arrow-button .arrow
{
-fx-background-color: rgb(0,0,0);
-fx-background-insets: 1 0 -1 0, 0;
-fx-padding: 0.25em 0.25em 0.25em 0.25em;
-fx-shape: "M 0 0 0 0 0 0";
}

.titled-pane:collapsed > .title > .arrow-button .arrow
{
-fx-rotate: -90;
}

.titled-pane > *.content
{
-fx-background-color:rgb(245, 80, 102);
-fx-background-insets: 0, 0 1 1 1;
-fx-padding: 0.167em;
 }

.titled-pane:focused > .title > .arrow-button .arrow
{
-fx-background-color: white;
}