.root .track,
.root:vertical .track {
    -fx-background-color: rgba(204, 204, 204);
}

.root .thumb,
.root:focused .thumb {
    -fx-background-color: rgba(204, 204, 204);
}

.root .colored-track {
    -fx-background-color: rgba(204, 204, 204);
}

.root .slider-value {
    -fx-font-size: 12;
    -fx-text-fill: black;
    -fx-stroke: BLACK;
}

.jfx-slider .animated-thumb {
    -fx-background-color: rgba(204, 204, 204);
}

.jfx-slider:min .thumb,
.jfx-slider:min:focused .thumb {
    -fx-background-color: rgba(204, 204, 204);
}

.jfx-slider:min .animated-thumb {
    -fx-background-color: rgba(204, 204, 204);
}