* {
    -fx-label-smoothing-type: lcd;
    -fx-text-fill: whitesmoke;
}
.root {
    -fx-font-smoothing-type: -fx-label-smoothing-type;
    -fx-text-fill: whitesmoke;
    word-break:break-all;
    word-wrap:break-word;
}